# Enable UDP port 514 to listen to incoming log messages from haproxy
local0.=info -{{ haproxy_logdir }}/haproxy.log;RSYSLOG_FileFormat
local0.notice -{{ haproxy_logdir }}/haproxy.admin;RSYSLOG_FileFormat
# don't log anywhere else
local0.* ~
